.container-fluid {
  .navbar-brand,
  .nav-link {
    border-bottom: transparent solid 2px;

    &:hover {
      border-bottom: white solid 2px;
    }
  }

  .navbar-toggler {
    color: white;
    transition: .4s;

    &:hover {
      color: silver;
    }
  }

  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        .nav-link {
          transition: .4s;
          color: white;
          border-bottom: transparent solid 2px;

          &:hover {
            border-bottom: white solid 2px;
          }
        }
      }
    }
  }
}
